# Node modules
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.android/
.ios/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Local env files
.env*
.env*.local

# TypeScript
*.tsbuildinfo

# Jest coverage
/coverage/

# SQLite database files (si tu en as en local, par exemple pour dev)
/*.db
/*.sqlite

# Exemples / tests temporaires
app-example/
